{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div class="container" style = "margin-top : 150px">
      <h2 class = text-center style = "font-family : 'Monotype Corsiva' ; color : #E6120E">About Us</h2>
      <div class="row">
          <div class="col-sm-5">
              <img src="{% static 'images/natural farming hero desktop.jpg' %}" width=400 height = 400 class="img-responsive">
          </div>
          <div class="col-sm-7" style = "font-weight : bold ; margin-top : 30px">
            <h3>The e-Agriculture Community</h3>
            <p>e-Agriculture is a global Community of Practice, where people from all over the world exchange information, ideas, and resources related to the use of information and communication technologies (ICT) for sustainable agriculture and rural development.</p>
             
                <p>e-Agriculture  Community is made up of over 12,000 members from 170 countries and territories, members are information and communication specialists, researchers, farmers, students, policy makers, business people, development practitioners, and others.

                </p>
              <p>
                  ఒక నిర్ధిష్టమైన పద్ధతిలో మొక్కలను, జంతువులను పెంచి, పోషించి తద్వారా ఆహారాన్ని, మేత, నార, ఇంధనాన్ని ఉత్పత్తి చేయటాన్ని వ్యవసాయం లేదా కృషి అంటారు. వ్యవసాయం చరిత్ర మానవ చరిత్రలో అతి పెద్ద అంశం. ప్రపంచవ్యాప్త సామాజిక ఆర్థిక ప్రగతిలో వ్యవసాయభివృద్ధి ఒక కీలకాంశం. వేటాడటం ద్వారా ఆహార సముపార్జన చేసుకొనే స్థితిలో ఉన్న సంస్కృతులలో కనిపించని సంపద సమకూర్చుకోవటం,సైనిక కలాపాలవంటి ప్రత్యేకతలు వ్యవసాయం అభివృద్ధి చెందటంతోనే ప్రారంభమయ్యాయి. సమాజంలోని కొందరు రైతులు తమ కుటుంబ ఆహార అవసరాలకు మించి పండిచటం ప్రారంభించడంతో తెగ/జాతి/రాజ్యంలోని మిగిలిన వ్యక్తులకు ఇతర వ్యాపకాలను పోషించే వెసులుబాటునిచ్చింది.
              </p>
          </div>
      </div>
  </div>
  

{% endblock %}